# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
!gradle-wrapper.jar
.gradle-cache/
.gradle-build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Logs
*.log

# Spring Boot
target/
*.log
*.pid
*.gz

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Others
*.swp
*~